---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";

import Prose from "../components/Prose.astro";
import Layout from "../layouts/Layout.astro";
import { getEntry, render } from "astro:content";

const entry = await getEntry("docs", "en/ae-scripting/item/item");
const { Content } = await render(entry);
---

<StarlightPage frontmatter={{ title: "我的自定义页面" }}>
  <p>这是一个有自定义组件的自定义页面：</p>
  <Prose>
    <Content />
  </Prose>
</StarlightPage>
